<score-card
  [description]="'TITLE_CODING_CHALLENGES' | translate"
  [total]="challengeCategories.reduce((acc, c) => acc + c.total, 0)"
  [score]="challengeCategories.reduce((acc, c) => acc + c.solved, 0)"
  [showAsPercentage]="true"
  [hoverEnabled]="true"
>
  <div right-side class="icon-group">
    <svg
      width="74"
      height="85"
      viewBox="0 0 74 85"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_2_635)">
        <path
          d="M69.2371 41.1778C68.9506 40.8702 68.6049 40.6235 68.2209 40.4524..."
          fill="var(--theme-text)"
          fill-opacity="0.12"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M52.4188 11.0416C27.6378 11.0416 7.54834 31.1311..."
          fill="var(--theme-text)"
          fill-opacity="0.12"
        />
      </g>
      <defs>
        <clipPath id="clip0_2_635">
          <rect width="106" height="106" fill="var(--theme-text)" />
        </clipPath>
      </defs>
    </svg>
  </div>

  <challenge-category-list
    hover-content
    [challengeCategories]="challengeCategories">
  </challenge-category-list>

</score-card>
